<hr/>
<p align="left"><font color="blue">Please enter your Professional details</font></p>
        
	<form name="myform3" id="myform3" method="POST">
	 {% csrf_token %}		
        <input type="hidden" name="y2" value="{{objects_id}}">
        <input type="hidden" name="m2" value="{{mail}}">
        <input type="hidden" name="n2" value="{{name}}">
        <input type="hidden" name="q1" value="{{qua}}">
        <input type="hidden" name="u1" value="{{univ}}">
        <input type="hidden" name="y11" value="{{year}}">
        <input type="hidden" name="p1" value="{{perc}}">
	<table border=0 id="det1" class="t2" align="center">
	  <tr>
		 <td class="td">Job_Type:</td>
		 <td class="td1"><input type="text" name="job" id="qua"></td>
	  </tr>	
	  <tr colspan="2">
		 <td class="td">Total_Experience_in_months:</td>
		 <td class="td1"><input type="text" name="exp"></td>
	  </tr>
	  <tr>
	<td class="td">Current_Industry:</td>
	<td class="td1"><input type="text" name="ind"></td>
	  </tr>
	  <tr>
		<td class="td">Functional_Area:</td>
	<td class="td1"><input type="text" name="func"></td>
	 </tr>
	 <tr>
	<td>Key_Skills:</td>
	<td><textarea rows="4" cols="30" name="key"></textarea></td>
	 </tr>
	 <tr>
		<td align="center" class="td">
		<input class="sml" id="cmp3" type="button" value="+ Add More" size="20"></td>
	<td align="center"><input class="sml" id="cmp4" type="button" value="Complete" size="20"></td>
	 </tr>
        
       
   </table>
</form>

        <input type="button" class="conv" id="convert" name="conv_name" value="Send Email">
        
        



	     </tr>
	   </table>
	   </form>
		</fieldset>
      </body>
</html>	



