
<form name="myform5" id="myform5" method="POST">
{% csrf_token %}
<input type="hidden" name="m4" value="{{mail}}">
<input type="hidden" name="n4" value="{{name}}">
<input type="hidden" name="q3" value="{{qua}}">
<input type="hidden" name="u3" value="{{univ}}">
<input type="hidden" name="y13" value="{{year}}">
<input type="hidden" name="p3" value="{{perc}}">
<input type="hidden" name="j2" value="{{job}}">
<input type="hidden" name="e2" value="{{exp}}">
<input type="hidden" name="i2" value="{{ind}}">
<input type="hidden" name="f2" value="{{func}}">
<input type="hidden" name="k2" value="{{key}}">
<input type="hidden" name="z2" value="{{objects_id}}">
<!--<table><tr><td>Full name:   {{fullname}}</td></tr>         <br>           <tr><td>Mail Id: {{mailing}}</td></tr></table>

<h3>EDUCATION DETAILS:</h3>
_______________________________________________
   <table><tr><td>qualification :</td><td> {{qua}} </td></tr>
   <tr><td>university :</td><td> {{univ}} </td></tr>
   <tr><td>Year of passing :</td><td> {{year}} </td></tr>
   <tr><td>Percentage : </td><td>{{perc}} </td></tr></table>
_______________________________________________
<h3>PROFESSIONAL DETAILS:</h3>
_______________________________________________
   <table><tr><td>Job type: </td><td> {{job}} </td></tr>
   <tr><td>Total Experience: </td><td>{{exp}} </td></tr>
   <tr><td>Current Industry:</td><td> {{ind}} </td></tr>
   <tr><td>Functional Area: </td><td> {{fun}} </td></tr>
   <tr><td>Key Skills: </td><td>      {{key}} </td></tr></table> 

<center><input type="button" value="Click here to download" id="pdf" name="pdf"></center> -->
</form>
